.container{
	width: 275px;
	margin: 200px auto;
	height: 275px;
}
body{font-family: 'arial'}
[data-type=calendar] .self-calendar{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 14px;
}
[data-type=calendar] .self-calendar:before{
	content: '';
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent #e77409 transparent;
	border-top: none;
	position: absolute;
	left: 50%;
	top: -6px;
	margin-left: -6px;
}
[data-type=calendar] .calendar-header{
	background: #e77409;
	padding-top: 15px;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
[data-type=calendar] .year,[data-type=calendar] .month{
	cursor: pointer;
}
[data-type=calendar] .left-triangle{
	border-width: 7px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	border-left: none;
	display: inline-block;
	float: left;
	margin-left: 15px;
	cursor: pointer;
}
[data-type=calendar] .left-triangle:hover{
	border-right-color: #e6e4e4;
}
[data-type=calendar] .right-triangle{
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	border-right: none;
	display: inline-block;
	float: right;
	margin-right: 15px;
	cursor: pointer;
}
[data-type=calendar] .right-triangle:hover{
	border-left-color: #e6e4e4;
}
[data-type=calendar] .calendar-table{
	width: 100%;
	border-spacing:  0;
	font-size: 14px;
	box-shadow: inset 0 0 0 2px #cdd1d2;
	border-collapse: collapse;
}
[data-type=calendar] .calendar-table>thead{
	background: #e77409;
	color: #fff;
}
[data-type=calendar] .calendar-table>thead th{
	padding-bottom: 5px;
}
[data-type=calendar] .calendar-table>tbody{
	text-align: center;
	color: #000;
	background: #fff;
	font-size: 16px;
}
[data-type=calendar] .calendar-table>tbody td{
	padding: 7px 7px 6px;
	border: 1px solid #efefef;
}
[data-type=calendar] .calendar-table>tbody td.gray{
	color: #d1d3d2;
}
[data-type=calendar] .calendar-table>tbody td:not(.gray):hover{
	background: #e77409;
	color: #fff;
	cursor: pointer;
}
