body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", STHeiti, sans-serif;
}
a{
    text-decoration: none;
}
input,textarea{
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", STHeiti, sans-serif;
}
.tip-mask {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
}
.tip-mask.active {
  height: auto;
}
.tip-mask.active .tip-box{
  transform: scale(1,1);
}
.tip-mask .tip-box {
    min-width: 350px;
    max-width: 450px;
    background: #fff;
    position: relative;
    display: inline-block;
    text-align: left;
    transform: scale(0.1,0.1);
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.21, 0.99);
}

.tip-mask .tip-box .tip-header {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #000;
    background: #f7f7f7;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 18px;
    overflow: hidden;
}


.tip-mask .tip-box .tip-header .icon-cancel {
    cursor: pointer;
    margin-top: 8px;
    padding: 12px 10px;
    background: url('../images/new/cancel.svg') left center / 20px auto no-repeat;
    float: right;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
}

.tip-mask .tip-box .tip-header .icon-cancel:hover {
    transform: rotateZ(180deg);
}

.tip-mask .tip-box .tip-body {
    padding: 23px 25px;
    font-size: 15px;
    color: #636363;
}

.tip-mask .tip-box .tip-body p {
    margin: 7px;
}

.tip-mask .tip-box .tip-btns {
    text-align: center;
    padding-bottom: 18px;
}

.tip-mask .tip-box .tip-btns .btn-option {
    display: inline-block;
    font-size: 14px;
    padding: 3px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 3px;
}

.tip-mask .tip-box .tip-btns .btn-confirm {
    margin-right: 9px;
    background: #f17600;
    color: #fff;
}

.tip-mask .tip-box .tip-btns .btn-confirm:hover {
    background-color: #FF5722;
}

.tip-mask[data-type=message] .tip-box .tip-btns .btn-cancel{
    display: none;
}

.tip-mask .tip-box .tip-btns .btn-cancel {
    margin-right: 9px;
    border-color: #a5a5a5;
    color: #636363;
}

.tip-mask .tip-box .tip-btns .btn-cancel:hover {
    color: #333;
    background: #efefef;
}
