body {
    background: #efefef;
    line-height: 1.7;
    color: #333;
}

.container {
    width: 1040px;
    margin: 70px auto;
    background: #fff;
    box-shadow: 0 2px 5px 1px #c7c7c7;
    overflow: hidden;
    padding: 0 30px;
    padding-bottom: 45px;
}

.container .title {
    border-bottom: 2px solid #ccc;
}

.container .title h3 {
    text-align: center;
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

.container .title.edit span {
    display: none;
}

.container .title.edit .title-edit {
    display: inline-block;
}

.container .title-edit {
    outline: none;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 3px 7px;
    text-align: center;
    color: #000;
    font-size: 22px;
    width: 100%;
    display: none;
}

.question-list {
    margin-top: 23px;
    padding: 0 35px;
}

.question-list .question-item {
    padding: 15px 25px;
    border: 2px solid #b3b3b3;
}

.question-list {
    font-size: 16px;
}

.question-item {
    overflow: hidden;
    margin-top: 18px;
}

.question-item .q-number {
    padding-right: 12px;
    display: inline-block;
}

.question-item .answer-list {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 12px;
    list-style: none;
}

.question-item .answer-list >li {
    padding: 2px 0;
}

.question-item .q-body {
    width: 100%;
    padding-right: 300px;
    float: left;
    box-sizing: border-box;
}

.question-item .q-statist {
    float: left;
    margin-left: -275px;
    float: left;
    width: 275px;
}

.question-item .q-statist p {
    margin: 0;
}

.statist-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.statist-list>li{
    padding-right: 70px;
    overflow: hidden;
    margin-top: 11px;
}
.statist-list .bar-wrap {
    border: 1px solid #a5a5a5;
    height:8px;
    float: left;
    width: 100%;
    margin-top: 6px;
}
.statist-list .bar-wrap .bar{
    background: #ed7419;
    height: 8px;
}
.statist-list .percent{
    font-size: 14px;
    width: 50px;
    float: left;
    margin-right: -75px;
    margin-left: 10px;
}
.btn-back {
    padding: 5px 18px;
    background: #ed7419;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    color: #fff;
    cursor: pointer;
    margin-top: 45px;
    margin-left: 50%;
    position: relative;
    left: -35px;
}